<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
   
<!-- Define dependency using xml file -->   
<!-- <bean id="vehicle" class="com.meaven.learn.Car"></bean>	  -->


<!-- Define dependency using annotations -->
<context:component-scan base-package="com.meaven.learn"></context:component-scan>


<!-- <bean id="tyre" class="com.meaven.learn.Tyre">
	 <property name="brand" value="MRF"></property>	Setter method injection
	<constructor-arg value="CEAT"></constructor-arg>
</bean> -->

</beans>
  